
*

{  
   font-family: 'Inter', sans-serif;

}
body {
    margin: 0;
    padding: 0;
}


/* off-screen-menu */
.off-screen-menu {
    background-color:  rgb(232, 232, 232);
    height: 100vh;
    box-shadow: -10px 0 5px -10px rgba(0, 0, 0, 0.5); /* Left-side shadow */

    width: 100%;
    max-width: 330px;
    position: fixed;
    top: 0;
    right: -450px;
    z-index: 9998;
    flex-direction: column;
    align-items: flex-start;  
    text-align: left;  
    justify-content: center;
    font-size: 3rem;
    transition: .5s ease;
    display: none;
}
.off-screen-menu.active {
    right: 0;
}
.off-screen-menu ul{
    margin-right: 20px;
}
.off-screen-menu a {
    text-decoration: none;
    color: #004bc3;
    font-style: italic;
    font-size: 40px;
    
    font-weight: 600;
    position: relative; /* Necessary for positioning the pseudo-element */
}

.off-screen-menu a::after {
    content: "";
    position: absolute;
    bottom: -5px; /* Distance between the underline and the text */
    left: 0; /* Start from the left */
    width: 0; /* Initially hidden */
    height: 3px; /* Thickness of the underline */
    background-color: #000000; /* Match the text color */
    transition: width 0.3s ease; /* Smooth animation */
}

.off-screen-menu a:hover::after {
    width: 100%; /* Expand to the full width of the text */
    background-color: #000000; /* Change color on hover */
}

.off-screen-menu li {
    list-style-type: none; /* Removes the bullets */
}
.off-screen-menu .touch{
    margin-left: 40px;
    padding: 0;
    align-items: center;
    display: flex;

}
.off-screen-menu .touch a:hover{
    
}
.off{
    margin-top: -10px;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
}


.off-screen-menu svg{
    width: 60px;
    font-size: 90px;
}
.off-screen-menu .touch svg:hover{
   
    height: 60px;
    width: 60px;
   background-color: transparent;
}


/* nav */
nav {
    display: none;
    background-color: #1e74ff;
    border-radius: 4px;
    margin-left: 20px;
    margin-right: 10px;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);

}



/* ham menu */
.ham-menu {
    height: 20px;
    width: 20px;
    margin-left: auto;
    position: relative;
    z-index: 9999;

}
.ham-menu span {
    height: 3px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 25px;
    position: absolute;
    z-index: 9999;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}
.ham-menu span:nth-child(1) {
    top: 25%;
}
.ham-menu span:nth-child(3) {
    top: 75%;
}
.ham-menu.active span {
    background-color: rgb(0, 0, 0);
}
.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2) {
    opacity: 0;
}
.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

/* TOP LINE */

.toptop-line{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: aliceblue;
    background-color: #0061fe;
    height: 50px;
}

/* HEADER */

.logo-logo{
    padding: 10px 0;
    margin-left: 20px;
}
.head{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0;
    height: 120px;
}
.links, .one{
    display: flex;
    font-size: 18px;
    font-weight: 500;
}
.links a{
    color: black;
}
.links a:hover{
    color: gray;
}
ul.links.one {
    list-style-type: none; /* Removes the bullets */

}
.links one{
    list-style-type: none; /* Removes the bullets */

}
.links li a{
    text-decoration: none;
}
.links li{
padding: 0 20px ;
}
ul.links.one li a {
    position: relative;
    text-decoration: none;
    color: #000000;
    transition: color 0.3s ease;
}

ul.links.one li a::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #2d2d2d;
    transition: width 0.3s ease;
}

ul.links.one li a:hover::after {
    width: 100%;
}
.head-buttons a{
    text-decoration: none;
}



.button-5 {
  align-items: center;
  background-clip: padding-box;
  background-color: #1e74ff ;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-5:hover,
.button-5:focus {
    background-color: #5496ff ;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: #ffffff;
}

.button-5:hover {
  transform: translateY(-1px);
}

.button-5:active {
    background-color: #5496ff ;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}


@media (max-width: 1100px){
    .off-screen-menu{
        display: flex;
    }
 
    header .links.one{
        display: none;
    }
    .logo-logo{
        margin-right: auto;
        margin-left: 20px;
    }
    nav {
        display: flex !important;
    }

}


@media (max-width: 500px){
 
    .head-buttons button{
        font-size: 16px !important;
        font-weight:700 !important;
        
       }
   }
   
   @media (max-width: 440px){
    
       .head-buttons button{
           font-size: 16px !important;
           font-weight:700 !important;
           width: 69px;
   
          }
       }
   

       @media (max-width: 1100px){
        .dropdown-button{
            display: inline-block !important;
        }
        header .links.one{
            display: none;
        }
        .dropdown-links{
            display: flex !important;
        }
        .logo-logo{
            margin-right: auto;
            margin-left: 20px;
        }
        .dropdown button{
            margin-left: 20px;
            margin-right: 10px;
        }
    }

/* VIDEO BACKGROUND */
.video--background {
    position: relative;
    width: 100%;
    height: 600px;
    
}
.overlay-text {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.557);
    width: 100%;
    height: 100%;
    text-align: center;
  
    
}

.overlay-text h1{
    font-size: 55px;
    font-weight: 600;
    font-style: italic;

    font-family: "Kanit", sans-serif !important;
}
.highlight-ot{
    color: #0062ff;
}
.overlay-text p{
    font-family: "Kanit", sans-serif !important;
    padding-top: px;
    font-weight: 100;
    font-size: 30px;
}
.one-video button{
    width: 400px;
}



@media(max-width: 500px){
    .one-video button{
        width: 200px;
    }
    .overlay-text h1{
        font-size: 45px;
    }.toptop-line{
        font-size: 15px;
    }
  
}

@media(max-width: 400px){
    .head-buttons, .button-5{
      
    }
}
@media (max-width: 400px){
 
    .head-buttons button{
        font-weight:700 !important;
        width: 69px;

       }
    }

/*ABOUT ME */
.two-about{
    display: flex;
    padding: 40px;
    background-color: rgb(236, 236, 236);
    justify-content: space-around;
    flex-wrap: wrap;
}

.two-words{
    width: 600px;
}
.two-words h1{
    font-size: 50px;
    color: #004bc3;
}
.two-about button{
 background-color: #0050d1;
}
.two-about button:hover{
    background-color: #4d91ff;
}
.two-about p{
    font-size: 20px;
    font-weight: 300 ;
}
.two-pic{
    width: 370px;
}
@media (max-width: 700px) {
    .two-words{
        padding-bottom: 50px;

    }
    .two-words h1{
        font-size: 40px;
        color: #004bc3;
    }
    .two-about p{
        font-size: 18px;
    }
    .two-words{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        
    }
    .two-pic{
        width: 300px;
    }
    .two-about button{
        width: 300px;
       }
       .head-buttons button{
        font-size: 15px;

       }

}

/* SERVICES */

.three-services{
    display: flex;
    flex-direction: column;
}

.three-head{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #295fff;
    height: 120px;
}
.three-head h1{
    font-size: 45px;
    color: rgb(255, 255, 255);
}
.three-head-2 p{
    font-size: 35px;
    font-style: italic;
    color: #0058e6;
}

.three-head-2{
    display: flex;
    justify-content: center;
    font-size: 28px;
    font-weight: 600;
    background-color: rgba(228, 228, 228, 0.508);

}


.three-containers{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: rgba(228, 228, 228, 0.508);
    padding: 40px;
    gap: 15px;
}

.box-3{
    display: flex;
    border-radius: 9px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 350px;
    
    background-color: #ffffff;
        box-shadow: 5px 5px 10px 3px #43434336;
      

}
.box-3 img{
    object-fit: cover;
    height: auto;
    width: 100%;
    border-top-left-radius: 9.0px;  
  border-top-right-radius: 9.0px;
}
.box-3 h1{
    padding: 10px;
    font-weight: 600;
}
.box-3 p{
    padding: 10px;
    font-weight: 300;
    font-size: 17px;
}
.three-buttons{
    width: 200px;
    margin-bottom: 25px;
    border-radius: 10px;
    background-color: transparent;
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
}
.three-buttons:hover{
    background-color: black !important;
    color: white;
}
.three-buttons:active,
.three-buttons:focus{
    background-color: black !important;
    color: white;
}
@media(max-width: 600px) {
    .three-containers{
        gap: 30px;
    }

    .box-3{
        width: 320px;
    }
    .three-head-2 p{
text-align: center;    }
}


/* TESTIMONIALS */
  .four-carousel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1e74ff ;
    overflow: hidden;
    position: relative;
    padding-bottom: 20px;
  }
  
  .four-test {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 190px;
    text-align: center;
    margin-bottom: 40px;
  }
  
.four-test h1 {
    font-size: 40px;
    color: white;
    padding: 5px
  }
.four-test p {
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-style: italic;
  }
  
.carousel_items {
    display: flex;
    flex-direction: row;
    height: 100%;
    flex-wrap: nowrap;}


  .carousel_item {
    
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 3px #43434378;
    background: white;
    margin: 10px;
  }
  
  .carousel_item p {
    width: 400px;
    font-size: 15px;
    text-align: center;
    font-weight: 500;
    font-style: italic;
  }
  
  .carousel_item .fa {
    color: rgb(255, 215, 56);
    font-size: 23px;
    
  }

  .review-button{
    margin-top: 20px;
    width: 370px;
    font-size: 25px;
    padding: 0px ;
    background-color: #989898;
  }
  .review-button:hover{
    background-color: rgb(163, 163, 163);
  }
  .review-button:active,
  .review-button:focus{
    background-color: rgb(163, 163, 163);
  }

  @media (max-width:600px) {
   .carousel_items p{
    width: 300px;
   }

   .four-test{
    margin-bottom: 40px;
   }
    
  }
 
/*OUR PROCESS */

.five-why{
    display: flex;
    flex-direction: column;
    background-color: rgb(241, 241, 241);
    padding-bottom: 50px;
    flex-wrap: wrap;

}

.five-head{
    display: flex;
justify-content: center;
margin-bottom: 30px;
font-size: 25px;
text-align: center;
color: #000000;
}

.five-boxes{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 23px;
}

.five-box{
width: 300px;
display: flex;
flex-direction: column;
background-color: #ffffff;
padding: 18px;
align-items: center;
border-radius: 14px;
box-shadow: 5px 5px 10px 3px #e0e0e0;
}
.five-box h1{
    font-size: 27px;
    font-weight: 800;
}
.five-box p{
    text-align: center;
}

.five-svg{
    width: 40px;
    fill: #2a69ce;
}

/* EMAIL NEWS LETTER*/
.six-news{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1e74ff !important;
    height: auto;
    padding-bottom: 20px;

}
.six-news h1{
    font-size: 60px;
    text-align: center;
    color:  rgb(255, 255, 255);

}
.six-news p{
    font-size: 20px;
    text-align: center;
    color: white;
    font-style: italic;
max-width: 900px;}
.six-news input{
width: 400px;
height: 40px;
border-radius: 8px;
border: 2px solid white;
}
.six-news input:active{
}
.six-button{
    width: 200px;
    background-color: #313131;
    color: rgb(255, 255, 255);
    border-radius: 8px;
    font-size: 18px;
    height: 50px;
}
.six-button:hover{
    background-color: rgb(163, 163, 163);
}
#subscribe-form{
    align-items: center;
    display: flex;
    gap: 3px;
}


@media (max-width: 650px) {
    .six-button{
        width: 120px;
    }
    .six-news input{
        width: 220px;
    }
    .six-news h1{
        font-size: 45px;
    }
    .six-news p{
        width: auto;
        font-size: 19px;
        padding: 4px;
    }
    .six-news{
        height: 400px;
        padding-bottom: 20px;
    }
}

/* FOOTER */ 

footer{
    
    background-color: white;
}
.footer-boxes{
    display: flex;
    justify-content: space-between;
    margin: 0px 60px;
    flex-wrap: wrap;
}

.right-foot{
    display: flex;
    flex-direction: column;
}
footer ul{
display: flex;
flex-direction: column;
}

.left-foot{
justify-content: center;
display: flex;
align-items: center;
}

.touch{
    display: flex;
    align-items: center;
    gap: 20px;
}
.touch a{
    text-decoration: none;
}
.touch svg{
    width: 60px;
    font-size: 90px;
    padding: 8px;
}
.touch svg:hover{
    background-color: rgba(184, 184, 184, 0.27);
    padding: 4px;
    height: 68px;
    width: 68px;
    transition: .3s;
    border-radius: 6px;
}
.svg-ig svg:hover{
    height: 58px ;
    width: 58px;
    padding: 4px;
    transition: .3s;
    border-radius: 6px;
}
.touch .svg-ig svg{
    width: 60px;
    font-size: 90px;
    padding: 8px;
}
.two-foot{
    padding: 0;
}

.foot-bottom{
    display: flex;
    margin: 0px 50px;
    padding-bottom: 30px;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid black;
}
.foot-bottom img{
    padding: 10px;
}
.cop{
    font-size: 20px;
}

#thank-you-message{
    color: white;
    font-size: 23px;
    font-style: italic;
}

@media (max-width: 800px) {
    .footer-boxes{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0;
    }
}
